.monark div {
    white-space: pre-wrap;
    padding: 2rem;
    outline: none;
}
/* .monark div > * {
    white-space: pre-wrap;
} */
.monark ul, .monark ol {
    white-space: normal;
}
.monark li {
    white-space: pre-wrap;
}
.monark div * {
    margin-top: 0;
    margin-bottom: 0;
}
.monark h1 {
    line-height: 0.75em;
}
.monark textarea {
    width: 0; height: 0;
    resize: none;
    /*width: 100%;*/
    pointer-events: none;
    outline: none;
     border: none; 
}